ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  footer {
	background-color: hsl(243, 87%, 12%);
	color: #fff;
	padding: 50px 0;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	margin-bottom: 20px;
}

footer .social-media {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .circle {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	height: 40px;
	width: 40px;
	text-decoration: none;
}

footer p {
	text-align: right;
}